{% extends "../base.html" %}
{% load static %}
{% block content %}
<div class="container mx-auto px-4 py-8 mt-[120px]">
    <h1 class="text-4xl font-bold text-center mb-8 text-gray-800">Welcome to Acrocon</h1>
    <h2 class="text-2xl font-bold text-center mb-8 text-gray-600">Your Lexicon for Acromoves and your Companion on your Acro journey.</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
        <div class="flex flex-col items-center">
            <img src="{% static 'svg/undraw_personal_trainer_re_cnua.svg' %}" class="w-64 h-auto mb-4" alt="My SVG">
            <p class="text-gray-600 text-xl text-center">Search for new Moves to make the next step on your journey or use our tracker to track your strength training in order to do more advanced Moves in a safer way. </p>
        </div>

        <div class="flex flex-col items-center mt-[120px]">
            <h2 class="text-2xl font-semibold mb-4 text-gray-800">Get Started</h2>
            <a href="/authuser/signup" class="mb-4 px-6 py-3 bg-blue-600 text-white rounded font-semibold">Sign Up</a>
            <a href="/authuser/login" class="px-6 py-3 bg-gray-300 text-gray-800 rounded font-semibold">Log In</a>
        </div>
    </div>
</div>

{% endblock %}