{% extends "../base.html" %}
{% load tailwind_filters %}
{% block content %}
  <div class="flex flex-col items-center justify-center min-h-screen h-full">
    <h1 class=" text-4xl primary-text">Log in</h1>
    <form
      class="site-form w-full max-w-md mt-8 p-4"
      action="/authuser/login/"
      method="post"
    >
      {% csrf_token %}
      {{ form|crispy  }}
      <input
        type="submit"
        value="Login"
        class="mt-4 px-4 py-2 bg-[#6C63FF] text-white rounded"
      />
    </form>
    <p class="mt-4">
      Not got an account? <a href="{% url 'authuser:signup' %}" class="text-[#6C63FF]">Sign Up</a>
    </p>
  </div>
{% endblock %}