{% extends "../base.html" %}

{% block content %}
  <h2 class="mt-[120px]">Create Workout</h2>

  <h3>Create Exercise</h3>
  <form method="POST" class="site-form" action="/tracker/createWorkout/" enctype="multipart/form-data">
    {% csrf_token %}
    {{ exercise_form}}
    <button type="submit" name="exercise_submit">Create Exercise</button>
  </form>

  <h3>Create Set</h3>
  <form method="POST" class="site-form" action="/tracker/createWorkout/" enctype="multipart/form-data">
    {% csrf_token %}
    {{ set_form }}
    <button type="submit" name="set_submit">Create Set</button>
  </form>

  <h3>Create Training</h3>
  <form method="POST" class="site-form" action="/tracker/createWorkout/" enctype="multipart/form-data">
    {% csrf_token %}
    {{ training_form}}
    <button type="submit" name="training_submit">Create Training</button>
  </form>
{% endblock %}