{% extends "../base.html" %}

{% block content %}
{% if user.is_authenticated %}
            <h1 class="mt-[120px]">RECORD</h1>
            <div class="sets">
            {% for key,value in trainingDict.items %}
                <div class="article">
                    <h2><a href="#">{{ key.Date }}</a></h2>
                    {% for set in value %}
                    <p>{{ set.Excercise }}</p>
                    <p>{{ set.Weight }}</p>
                    <p>{{ set.Reps }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
            </div>
{% else %}
            <h1 class="mt-[120px]">PLEASE SIGN UP</h1>
{% endif %}

        
        

{% endblock %}