{% extends "../base.html" %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}
{% block content %}
{% if user.is_authenticated %}
<div class="container mx-auto mt-[120px]">
    <h2 class="text-4xl font-bold mb-8" style="color: #6C63FF;">ADD MOVE</h2>

    <div class="bg-white p-6 rounded shadow-md">
        <h3 class="text-2xl font-semibold mb-4" style="color: #071013;">Add an Acro move to the database</h3>
        <form method="POST" action="/moves/create/" enctype="multipart/form-data">
            {% csrf_token %}
            {{ exercise_form|crispy }}
            <button type="submit" name="exercise_submit" class="bg-[#6C63FF] text-white font-semibold py-2 px-4 rounded hover:bg-opacity-90">Create Exercise</button>
        </form>
    </div>
</div>
{% else %}
<div class="flex flex-col items-center mt-[120px]">
    <h2 class="text-2xl font-semibold mb-4 text-gray-800">Get Started</h2>
    <a href="/authuser/signup" class="mb-4 px-6 py-3 bg-[#6C63FF] text-white rounded font-semibold">Sign Up</a>
    <a href="/authuser/login" class="px-6 py-3 bg-gray-300 text-gray-800 rounded font-semibold">Log In</a>

</div>
{% endif %}
{% endblock %}